
@font-face {
  font-family: zrnicimport;
  src:url("../../fonts/zrnic___.ttf")

}
.header-image {
  background-image: url("../../images/logo1.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: max-content;
}

.header-button {
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 10px;
  height: fit-content;
  width: 70px;
}

.header-text {
  text-align: left;
  transform: translate(2%, 2%);
  color: white;
  font-family: zrnicimport;
} 


